    /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: block;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --white:#ffffff;
    --gray:#A3A3A3;
    --dark-gray:#080B12;

}
    /* UTILITIES */
.white{
    color: var(--white);
}
.flex{
    display: flex;
}
.dir-col{
    flex-direction: column;
}
.w-40{
    width: 40%;
}
.w-90{
    width: 90%;
}
.cerchio{
    border-radius: 50%;
}
.wrap{
    flex-wrap: wrap;
}
.centrato{
    margin-inline: auto;
}

    /* GENERALI */
nav{
    padding-inline: 1rem;
    padding-top: 1rem;
}
footer{
    height: 10vh;
    background-color:var(--gray);
    color:var(--white);
}
hr{
    margin-block: 10px;
}
button{
    border: 1px solid white;
    background-color: var(--dark-gray);
    color:var(--white);
    padding: 10px;
    border-radius: 10px;

}

nav.container{
    height: 90vh;
    background-color: black; 
    justify-content: space-between;
}
ul.top{
    gap:10px
}
nav.container ul li,nav.container ul li a{
    color:var(--gray) ;
    text-transform: capitalize;
}
.logo{
    width:20%;
    vertical-align: middle;
    display: inline-block;
}
ul.top li:first-child a{
    font-size: 1.5rem;
    color:var(--white);
}
i.bg-gray.black{
    background-color: var(--gray);
    padding: 10px;
    color: #080B12;
}
i.cerchio{
    background-color: #A3A3A3;
    padding: 5px;
}
 section.top{
    background-color:var(--dark-gray) ;
}
main{
    width: 60%;
    background-color: #141922;
    overflow-y: auto;
}
 section.top{
    background-color: var(--dark-gray);
    padding: 1.5rem;
    justify-content: flex-end;
 }
 .title{
    column-gap: 10px;
    row-gap: 20px;
 }
 .title h5{
    flex-basis: calc(100% / 3 - 10px);
 }
 .title h5 a{
    color: #A3A3A3;
    text-transform: uppercase;
 }
 section.content{
    padding: 20px;
 }
        /* XS */
 @media screen and (max-width:576px){
    .hidden{
        display: none;
    }
    header.w-40{
        width: 15%;
    }
    .logo{
        width: 30%;    
    }
    nav,ul.top{
        align-items: center;
    }
    main{
        width: 85%;
    }
    .title{
        justify-content: center;
    }
    .title h5{
        flex-basis: calc(100% / 4 - 10px);
        word-break: break-all;
    }
 }

        /* MEDIUM */
 @media screen and (min-width:768px) and (max-width:992px){
    header.w-40{
        width: 20%;
    }
    main{
        width: 80%;
    }
    .title{
        justify-content: center;
    }
    .title h5{
        flex-basis: calc(100% / 5 - 10px);
        word-break: break-all;
    }
 }

        /* LARGE */
 @media  screen and (min-width:993px) {
    header.w-40{
        width: 15%;
    }
    main{
        width: 85%;
    } 
    .title{
        width: 60%;
    }  
    .title h5{
        flex-basis: auto;
    }
 }